.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  height: 64px;
  margin-bottom: 48px;
  padding: 0 5%;
  box-sizing: border-box;

  background: #2196F3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navLink,
.navLink:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

.navLink.active,
.navLink.active:visited {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(30, 136, 229, 1);
}

