.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  min-width: 960px;
  width: 90%;
  padding-bottom: 102px;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap : 2.2vw;
  grid-row-gap: 2.2vw;
}

.preloader {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
